.App {
  text-align: center;

}

/*dali exploding clock{
image'https://i.pinimg.com/736x/8b/48/a0/8b48a070ac4336b2980e9ea077fb3fde--salvador-dali-artwork-painting-art.jpg'
}*/
.center {
  text-align: center;
}

body {
  background-image: url("https://i.pinimg.com/736x/96/a4/bd/96a4bdc5e457f902112f597507f60059.jpg");
  background-size: cover !important; 
  background-attachment: fixed;
  position: relative;
  padding: 100px;

   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width:100%;
    height:100%;
    margin:0

}

body:before {
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background: rgba(255,255,255,.5);
  z-index: -1;
}



body {
  position: relative;
  min-height: 100vh;
}

.white-opacity{
  color: white;
  opacity:0.8;
}

.navbar{
  background-color: #BDC9FF;
}

/*.centered {
    text-align: center;
    padding: 120px;
}*/

/*body{
  background-color: #8ac5f7;
}
*/
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/