.App {
  text-align: center;

}

/*#App-Background {
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwiTjvH2-MfWAhXGs1QKHVqcCrAQjRwIBw&url=http%3A%2F%2Fwww.peterleuedesignercraftsman.com%2F2000s%2F2000s-more-creativity%2F9429038&psig=AFQjCNFxBjQhQz2Z--u5nZkw7dpXh0M-Ug&ust=1506690308093893") 
}

.landing-image{
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwiTjvH2-MfWAhXGs1QKHVqcCrAQjRwIBw&url=http%3A%2F%2Fwww.peterleuedesignercraftsman.com%2F2000s%2F2000s-more-creativity%2F9429038&psig=AFQjCNFxBjQhQz2Z--u5nZkw7dpXh0M-Ug&ust=1506690308093893"); 
    background-size: cover !important;
}*/

.center {
  text-align: center;
}

body {
  background-image: url("https://i.pinimg.com/736x/96/a4/bd/96a4bdc5e457f902112f597507f60059.jpg");
  background-size: cover !important; 
}

.white-opacity{
  color: white;
  opacity:0.8;
}

/*body{
  background-color: #8ac5f7;
}
*/
/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/