body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#App-Background {
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=imgres&cd=&cad=rja&uact=8&ved=0ahUKEwiTjvH2-MfWAhXGs1QKHVqcCrAQjRwIBw&url=http%3A%2F%2Fwww.peterleuedesignercraftsman.com%2F2000s%2F2000s-more-creativity%2F9429038&psig=AFQjCNFxBjQhQz2Z--u5nZkw7dpXh0M-Ug&ust=1506690308093893") 
}